@media only screen and (max-width: 350px) {
    .intro, 
    .skills, 
    .experts, 
    .mission, 
    .students {
        width: 100%;
    }
}

// for large smartphones, tablets and laptops.
@media only screen and (min-width: 560px) and (max-width: 922px) {
    .grid--container {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto;
        grid-template-areas: 
           'intro experts'
           'mission experts'
           'skills .'
           'skills students'
           'skills .'
        ;
    }

    .intro {
        grid-area: intro;
    }
    .skills {
        grid-area: skills;
    }
    .experts {
        grid-area: experts;
    }
    .mission {
        grid-area: mission;
    }
    .students {
        grid-area: students;
    }
    
    
    // image galley.
    .experts {
        padding: .5rem;
    
        &__galley {
            display: grid;
            grid-column-gap: 1vw;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 25vh);
        }
    
        &__image1 {
            grid-column: 1 / 2; // first row.
            grid-row: 1 / 2;
        }
        &__image2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__imag3 {
            grid-column: 1 / 2; // second row.
            grid-row: 2 / 3;
        }
        &__image4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &__image5 {
            grid-column: 1 / 2;
            grid-row: 3 / 4; // third row. 
        }
        &__image6 {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        &__image7 {
            grid-column: 1 / 2; // fourth row.
            grid-row: 4 / 5;
        }
        &__image8 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }
    
        &__photo {
            width: 100%;
            height: 100%;
        }
    }

    // students galley.

    .students {
        padding: .4rem;
    
        &__margin-bottom {
            margin-bottom: .7vh;
        }
        
        &__galley {
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 25vh);
        }
    
        &__image1 {
            grid-column: 1 / 2; // first row.
            grid-row: 1 / 2;
        }
        &__image2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__image3 {
            grid-column: 1 / 2; // second row.
            grid-row: 2 / 3;
        }
        &__image4 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &__image5 {
            grid-column: 1 / 2; // third row.
            grid-row: 3 / 4;
        }
        &__image6 {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
    
        &__photo {
            width: 100%;
            height: 100%;
        }
    }

    // footer.
    footer {
        display: flex;
        flex-direction: row;
    }

    // my photo.
    .intro__image {
        width: 50vw;
    }
}
// for laptops and deskotops.
@media only screen and (min-width: 922px) {
    .grid--container {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto;
        grid-template-areas: 
           'intro experts'
           'mission .'
           'skills .'
           'skills students'
           'skills .'
        ;
    }

    .intro {
        grid-area: intro;
    }
    .skills {
        grid-area: skills;
    }
    .experts {
        grid-area: experts;
    }
    .mission {
        grid-area: mission;
    }
    .students {
        grid-area: students;
    }
    
    
    // image galley.
    .experts {
        padding: .5rem;
    
        &__galley {
            display: grid;
            grid-column-gap: 1vw;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 18vh);
        }
    
        &__image1 {
            grid-column: 1 / 2; // first row.
            grid-row: 1 / 2;
        }
        &__image2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__imag3 {
            grid-column: 3 / 4; 
            grid-row: 1 / 2;
        }
        &__image4 {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
        &__image5 {
            grid-column: 1 / 2; // second row.
            grid-row: 2 / 3;  
        }
        &__image6 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &__image7 {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
        &__image8 {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }
    
       
    }

    // students galley.

    .students {
        padding: .4rem;
    
        &__margin-bottom {
            margin-bottom: .7vh;
        }
        
        &__galley {
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 20vh);
        }
    
        &__image1 {
            grid-column: 1 / 2; // first row.
            grid-row: 1 / 2;
        }
        &__image2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__image3 {
            grid-column: 3 / 4; 
            grid-row: 1 / 2;
        }
        &__image4 {
            grid-column: 1 / 2; // second row.
            grid-row: 2 / 3;
        }
        &__image5 {
            grid-column: 2 / 3; 
            grid-row: 2 / 3;
        }
        &__image6 {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    
        
    }

    // footer.
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

